.nav ul {
    list-style: none;
    color: white;
    margin: 0;
}

.nav li {
    display: inline-block;
    padding: 1.5rem 2rem;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: orange;
}